{% extends "base.html" %}
{% load static %}

{% block extra_title %}Create Newsletter{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Send Newsletter</h2>
            <hr>
        </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-md-12">
            <h3>Fill in the form to send out your newsletter!</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info btn-md rounded-0 text-uppercase mb-2"><i class="fas fa-paper-plane"></i> Send Newsletter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}