<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <!-- <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a> -->
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="boots-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="boots-link">
                <a href="{% url 'products' %}?category=firm_ground" class="dropdown-item">Firm Ground</a>
                <a href="{% url 'products' %}?category=soft_ground" class="dropdown-item">Soft Ground</a>
                <a href="{% url 'products' %}?category=artificial_grass" class="dropdown-item">Artificial Grass</a>
                <a href="{% url 'products' %}?category=firm_ground,soft_ground,artificial_grass" class="dropdown-item">All Boots</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="kit-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kit
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="kit-link">
                <a href="{% url 'products' %}?category=jerseys" class="dropdown-item">Jersey</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=socks" class="dropdown-item">Socks</a>
                <a href="{% url 'products' %}?category=jerseys,shorts,socks" class="dropdown-item">All Kit</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories &amp; Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=footballs" class="dropdown-item">Footballs</a>
                <a href="{% url 'products' %}?category=shinpads" class="dropdown-item">Shinpads</a>
                <a href="{% url 'products' %}?category=goalkeeper_gloves" class="dropdown-item">Goalkeeper Gloves</a>
                <a href="{% url 'products' %}?category=coaching" class="dropdown-item">Coaching</a>
                <a href="{% url 'products' %}?category=footballs,shinpads,goalkeeper_gloves,coaching" class="dropdown-item">All Accessories &amp; Equipment</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>