{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- overlay to cover up the background image-->
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">About</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <!-- About Image -->
            <div class="col-4 text-center">
                <img src="{{ about.profile_image.url }}" width="75%" alt="{{ about.title }}">
            </div>
            <!-- About Text -->
            <div class="col-8">
                <!-- Title goes between these h2 tags -->
                <h2>{{ about.title }}</h2>
                <!-- Content goes directly underneath this -->
                {{ about.content | safe }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <!-- Updated on field goes in here -->
                <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
            </div>
        </div>
    </div>
{% endblock %}