{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- overlay to cover up the background image-->
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Contact</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <h2>Get in Touch!</h2>
                <p>We at Football Crazy are always here to help with any questions or concerns you may have. 
                    Whether you need assistance with a product, have a query about your order, or just want to give us feedback, 
                    our dedicated customer service team is ready to assist you. We look forward to hearing from you and helping you with all your football needs!
                </p>
                <p>Please fill out the form below and we will be back to you as soon as possible.</p>
                <form method="post">
                    {{ contact_form | crispy }}
                    {% csrf_token %}
                    <button class="btn btn-lg btn-black rounded-0 text-uppercase mt-1" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}