{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Product Image Column -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product Details Column, Actions to Add to Bag -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1">{{ product.rating }}</i></small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <!-- Store admin - edit/delete product -->
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}">Edit</a> |
                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <!-- Add Product to Bag -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <!-- increment quantity button-->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number" 
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                         <!-- decrement quantity button-->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- For Product Reviews -->
            <div class="col-10 card offset-lg-1 mb-4 mt-3" id="reviewCard">
                <h3>Comments:</h3>
                <!-- Creating New Reviews -->
                <div class="col-md-4 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <h3>Leave a review:</h3>
                            <p>Posting as: {{ user.username }}</p>
                            <!--
                            <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                                {% csrf_token %}
                                <div>
                                    <label for="rating">Rating</label>
                                    <select name="rating" id="rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="1">5</option>
                                    </select>
                                </div>
                                <div>
                                    <label for="reviewContent">Content</label>
                                    <textarea name="reviewContent" id="reviewContent"></textarea>
                                </div>
                            -->
                            <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                                {{ review_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit"
                                class="btn btn-black rounded-0 text-uppercase mt-5">Submit</button>
                            </form>
                        {% else %}
                            <p>Log in to leave a comment</p>
                        {% endif %}
                    </div>
                </div>
                <!-- Displaying Product Reviews -->
                <div class="card-body">
                  <!-- We want a for loop inside the empty control tags
                    to iterate through each review in reviews -->
                  {% for review in reviews %}
                  <div class="p-2 reviews review-div mb-3
                    {% if not review.approved and review.created_by == user %}
                    faded{% elif not review.approved %} d-none{% endif %}">
                    <p class="font-weight-bold text-muted">
                      {{ review.created_by }}
                      <span class="font-weight-normal">
                        {{ review.created_on }}
                      </span> wrote:
                    </p>
                    <div id="review{{ review.id }}">
                      {{ review.content | linebreaks }}
                    </div>
                    {% if not review.approved and review.created_by == user %}
                    <p class="approval">
                      This review is awaiting approval
                    </p>
                    {% endif %}
                    <!-- Display Edit/Delete buttons (if user is signed in & comment author) -->
                    {% if user.is_authenticated and review.created_by == user %}
                        <button class="btn btn-delete-review" review_id="{{ review.id }}">Delete</button>
                        <button class="btn btn-edit-review" review_id="{{ review.id }}">Edit</button>
                    {% endif %}
                  </div>
                  <!-- Our for loop ends here -->
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    const editButtons = document.getElementsByClassName("btn-edit-review");
    const reviewText = document.getElementById("id_content");
    const reviewForm = document.getElementById("reviewForm");
    const submitButton = document.getElementById("submitButton");

    /**
    * Initializes edit functionality for the provided edit buttons.
    * 
    * For each button in the `editButtons` collection:
    * - Retrieves the associated review's ID upon click.
    * - Fetches the content of the corresponding comment.
    * - Populates the `reviewText` input/textarea with the review's content for editing.
    * - Updates the submit button's text to "Update".
    * - Sets the form's action attribute to the `edit_review/{reviewId}` endpoint.
    */
    for (let button of editButtons) {
    button.addEventListener("click", (e) => {
        let reviewId = e.target.getAttribute("review_id");
        let reviewContent = document.getElementById(`review${reviewId}`).innerText;
        reviewText.value = reviewContent;
        submitButton.innerText = "Update";
        reviewForm.setAttribute("action", `edit_review/${reviewId}`);
    });
    }
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}