{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- Product Image Column -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- Product Details Column, Actions to Add to Bag -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0 product-head-font">{{ product.name }}</p>
                    <!--
                    <div>
                        <a class="btn btn-wish mt-2" href="{% url 'user_wishlist' product.id %}" role="button" aria-disabled="false">Add to Wishlist</a>
                    </div>
                    -->
                    {% if user.is_authenticated %}
                        <form class="d-inline like-form" action="{% url 'user_wishlist' product.id %}" method="POST" data-product-id="{{ product.id }}">
                            {% csrf_token %}
                                {% if request.user in product.users_wishlist.all %}
                                <button type="submit" name="like" value="{{ product_wish.product.id }}" class="btn btn-like-wish mt-2" data-like-action="unlike">
                                    <i class="fas fa-heart fa-sm" style="color: #cc2b5e;"></i><span class="ml-1 like-text">Remove from Wishlist</span>
                                </button>
                                {% else %}
                                <button type="submit" name="like" value="{{ product_wish.product.id }}" class="btn btn-like-wish mt-2" data-like-action="like">
                                    <i class="far fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text">Add to Wishlist</span>
                                </button>
                                {% endif %}
                        </form>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-like-wish mt-2">
                            <i class="far fa-heart fa-sm" style="color: #000;"></i><span class="ml-1 like-text">Add to Wishlist</span>
                        </a>
                    {% endif %}
                    <!-- Store admin - edit/delete product -->
                    {% if request.user.is_superuser %}
                    <hr>
                    <div class="card" style="width: 18rem;" class="mr-0">
                        <div class="card-body pt-0 pb-0">
                            <h5 class="card-title">Store Admin</h5>
                            <a href="{% url 'edit_product' product.id %}" class="btn-info text-decoration-none p-1">Edit</a>
                            <a href="{% url 'delete_product' product.id %}" class="btn-danger text-decoration-none p-1" >Delete</a>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1">{{ product.rating }}</i></small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <!-- Add Product to Bag -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <!-- increment quantity button-->
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number" 
                                        name="quantity" value="1" min="1" max="99" 
                                        data-item_id="{{ product.id }}">
                                         <!-- decrement quantity button-->
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                            data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-10 offset-lg-1">
            <hr>
        </div>
        <div class="row">
            <!-- For Product Reviews -->
            <div class="col-10 offset-lg-1 mb-4 mt-3" id="reviewCard">
                <h2 class="mt-3 logo-font">Reviews</h2>
                <!-- Creating New Reviews -->
                <div class="col-12 card mb-4 mt-3">
                    <div class="card-body">
                        {% if user.is_authenticated %}
                            <h3 class="text-uppercase mb-3">Leave a review</h3>
                                <h4><span class="text-muted">{{ product.name }}</span></h4>
                            <p>Posting as: {{ user.username }}</p>
                            <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                                {{ review_form | crispy }}
                                {% csrf_token %}
                                <button id="submitButton" type="submit"
                                class="btn btn-black rounded-0 text-uppercase mt-1">Submit</button>
                            </form>
                        {% else %}
                            <p>Log in to leave a comment</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 card mb-4 mt-3">
                    <div>
                        <h3 class="text-uppercase mb-3">Customer Reviews: {{ review_count}} </h3>
                    </div>
                    <!-- Displaying Product Reviews -->
                    <div class="card-body">
                    <!-- We want a for loop inside the empty control tags
                        to iterate through each review in reviews -->
                    {% for review in reviews %}
                    <div class="p-2 reviews review-div p-3 mb-3
                        {% if not review.approved and review.created_by == user %}
                        faded{% elif not review.approved %} d-none{% endif %}">
                        <p class="font-weight-bold text-muted">
                            <span class="font-weight-normal"><i class="far fa-comment"></i></span>
                            {{ review.created_by }} wrote:
                        </p>
                        <div id="review{{ review.id }}">
                            {{ review.content | linebreaks }}
                        </div>
                        {% if not review.approved and review.created_by == user %}
                        <p class="approval">
                        This review is awaiting approval
                        </p>
                        {% endif %}
                        <div class="rating-star">
                            <span title="{{ review.rating }}/5">
                            <!-- By default the star is full else it is empty otherwise it is half -->
                                <i class="fa fa-star{% if review.rating < 0.5%}-o{% elif review.rating >= 0.5 and review.rating < 1 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 1.5%}-o{% elif review.rating >= 1.5 and review.rating < 2 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 2.5%}-o{% elif review.rating >= 2.5 and review.rating < 3 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 3.5%}-o{% elif review.rating >= 3.5 and review.rating < 4 %}-half-o{% endif %}" aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating < 4.5%}-o{% elif review.rating >= 4.5 and review.rating < 5 %}-half-o{% endif %}" aria-hidden="true"></i>
                            </span>
                            <span><strong>( {{ review.rating }}/5 )</strong></span>
                        </div>
                        <p class="font-weight-bold text-muted mt-2">
                            <span class="font-weight-normal">
                                <i class="far fa-calendar"></i> Review Date: {{ review.created_on }}
                            </span>
                        </p>
                        <!-- Display Edit/Delete buttons (if user is signed in & comment author) -->
                        {% if user.is_authenticated and review.created_by == user %}
                            <button class="btn btn-danger btn-delete-review" review_id="{{ review.id }}">Delete</button>
                            <button class="btn btn-outline-black btn-edit-review" review_id="{{ review.id }}">Edit</button>
                        {% endif %}
                    </div>
                    <!-- Our for loop ends here -->
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title"
            id="deleteModalLabel">Delete review?</h5>
        <button type="button" class="btn-close"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete your review?
        This action cannot be undone.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
            btn-danger">Delete</a>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    const editButtons = document.getElementsByClassName("btn-edit-review");
    const reviewText = document.getElementById("id_content");
    const reviewForm = document.getElementById("reviewForm");
    const submitButton = document.getElementById("submitButton");

    const deleteModal = new bootstrap.Modal(document.getElementById("deleteModal"));
    const deleteButtons = document.getElementsByClassName("btn-delete-review");
    const deleteConfirm = document.getElementById("deleteConfirm");

    /**
    * Initializes edit functionality for the provided edit buttons.
    * 
    * For each button in the `editButtons` collection:
    * - Retrieves the associated review's ID upon click.
    * - Fetches the content of the corresponding comment.
    * - Populates the `reviewText` input/textarea with the review's content for editing.
    * - Updates the submit button's text to "Update".
    * - Sets the form's action attribute to the `edit_review/{reviewId}` endpoint.
    */
    for (let button of editButtons) {
    button.addEventListener("click", (e) => {
        let reviewId = e.target.getAttribute("review_id");
        let reviewContent = document.getElementById(`review${reviewId}`).innerText;
        reviewText.value = reviewContent;
        submitButton.innerText = "Update";
        reviewForm.setAttribute("action", `edit_review/${reviewId}`);
    });
    }

    /**
    * Initializes deletion functionality for the provided delete buttons.
    * 
    * For each button in the `deleteButtons` collection:
    * - Retrieves the associated review's ID upon click.
    * - Updates the `deleteConfirm` link's href to point to the 
    * deletion endpoint for the specific review.
    * - Displays a confirmation modal (`deleteModal`) to prompt 
    * the user for confirmation before deletion.
    */
    for (let button of deleteButtons) {
    button.addEventListener("click", (e) => {
        let reviewId = e.target.getAttribute("review_id");
        deleteConfirm.href = `delete_review/${reviewId}`;
        deleteModal.show();
    });
    }
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}